<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Erlang Calculator Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="public/css/bootstrap.min.css" />
    </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top py-3" id="mainNav">
          <div class="container px-4 px-lg-5">
              <a class="navbar-brand text-uppercase" href="/">Erlang calculator</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">

                </span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto my-2 my-lg-0">
                      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="calculate">Calculate</a></li>
                      <li class="nav-item"><a class="nav-link" href="chart">chart</a></li>
                  </ul>
              </div>
          </div>
      </nav>
    <div class="container">
        <!-- nav -->
      <div style="width: 400px; margin: 50px auto; padding-top: 20rem;">
        <form>
            <select id="erlangbc" onchange="erlangBC(this)" class="form-control">
                <option value="" disabled selected>What to calculate Erlang B or C...</option>
                <option value="b">Erlang B</option>
                <option value="c">Erlang C</option>
            </select>

            <select id="erlangb" onchange="erlangB(this)" class="form-control" style="display: none; margin-top: 10px;">
                <option value="" disabled selected>What to calculate...</option>
                <option value="bp">Blocking probability</option>
                <option value="br">Call Arrival rate</option>
                <option value="bn">Number of channels</option>
                <option value="bl">Offered load</option>
                <option value="bt">Holding time</option>
            </select>

            <select id="erlangc" onchange="erlangC(this)" class="form-control" style="display: none; margin-top: 10px;">
                <option value="" disabled selected>What to calculate...</option>
                <option value="cp">Waiting probability</option>
                <option value="cs">Number of servers</option>
            </select>

            <div class="form-group" style="display: non; margin-top: 10px;">
                <input id="a" class="form-control">
            </div>

            <div class="form-group" style="display: non; margin-top: 10px;">
                <input id="b" class="form-control">
            </div>

            <div class="form-group text-center" style="display: non; margin-top: 10px;">
                <button type="submit" id="submit" class="btn btn-md bg-primary text-white form-control">Calculate</button>
                <h3 id="result" style="color: green; font-size: 20; margin-top: 20px;"></h3>
            </div>
        </form>
      </div>
    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>

        function erlangBC(event){
            $("#a").val("")
            $("#b").val("")
            $("#erlangb").val()
            $("#erlangc").val()
            $("#result").text("")
            $("#a").attr("placeholder", "")
            $("#b").attr("placeholder", "")
            if(event.value == "b"){
                $("#erlangc").hide()
                $("#erlangb").show()
            }else{
                $("#erlangc").show()
                $("#erlangb").hide()
            }
        }

        function erlangB(event){
            if(event.value == "bp"){
                $("#a").attr("placeholder", "Offered load (in Erlangs)")
                $("#b").attr("placeholder", "Number of channels")
            }
            else if(event.value == "bn"){
                $("#a").attr("placeholder", "Blocking probability")
                $("#b").attr("placeholder", "Offered load (in Erlangs)")
            }
            else if(event.value == "bt"){
                $("#a").attr("placeholder", "Offered load (in Erlangs)")
                $("#b").attr("placeholder", "Call Arrival rate (in calls per hour)")
            }
            else if(event.value == "br"){
                $("#a").attr("placeholder", "Offered load (in Erlangs)")
                $("#b").attr("placeholder", "Holding time (in Seconds)")
            }
            else{
                $("#a").attr("placeholder", "Holding time (in Seconds)")
                $("#b").attr("placeholder", "Call Arrival rate (in calls per hour)")
            }
        }

        function erlangC(event){
            if(event.value == "cp"){
                $("#a").attr("placeholder", "Offered load (in Erlangs)")
                $("#b").attr("placeholder", "Number of channels")
            }
            else{
                $("#a").attr("placeholder", "Waiting probability")
                $("#b").attr("placeholder", "Offered load ( in Erlangs)")
            }
        }

        $(document).ready(function() {
            $("#submit").on("click", function(e) {
                e.preventDefault();

                let body;
                let path = "";
                let a = $("#a").val();
                let b = $("#b").val();

                let erlangbc = $("#erlangbc").val()

                if(erlangbc == "b"){
                    let erlangb = $("#erlangb").val()
                    if(erlangb == "bp"){
                        path = "/erlangb-block-prob";
                        body = {
                            offer_load: a,
                            channel_num: b,
                        }
                    }
                    else if(erlangb == "bn"){
                        path = "/erlangb-channel-num";
                        body = {
                            prob: a,
                            offer_load: b,
                        }
                    }
                    else if(erlangb == "bl"){
                        path = "/erlangb-offered-load";
                        body = {
                            holding_time: a,
                            arrival_rate: b,
                        }
                    }
                    else if(erlangb == "bt"){
                        path = "/erlangb-holdtime";
                        console.log({a,b})
                        body = {
                            offer_load: a,
                            arrival_rate: b,
                        }
                    }
                    else if(erlangb == "br"){
                        path = "/erlangb-arrivalrate";
                        body = {
                            offer_load: a,
                            hold_time: b,
                        }
                    }
                }else{
                    let erlangc = $("#erlangc").val()
                    if(erlangc == "cp"){
                        path = "/erlangc-waitprob";
                        body = {
                            offer_load: a,
                            channel_num: b,
                        }
                    }
                    else if(erlangc == "cs"){
                        path = "/erlangc-server";
                        body = {
                            prob: a,
                            offer_load: b,
                        }
                    }
                }

                if(a != "" && b != "" && path != ""){
                    fetch(`http://127.0.0.1:5559/api/v1${path}`, {
                    mode: "cors",
                    method: "POST",
                    body: JSON.stringify(body),
                    headers: { "Content-Type": "application/json;charset=utf-8" },
                    })
                    .then((r) => r.json())
                    .then(({ status, message }) => {
                        $("#result").text(message)
                    })
                    .catch((e) => {
                        alert(e);
                    });
                } else {

                }
            })
        })
    </script>
    <style>
      body {
        overflow: hidden;
      }
    </style>
  </body>
</html>
